.car {
  width: 4rem;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .car {
    width: 6rem;

    .car__link {
      width: 2.5rem;

      .numerito {
        border: 2px solid green;
        width: 3rem;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
      }
    }
  }
}
