.cajita {
    flex-direction: column;
    height: 4rem;
    margin-top: 1rem;
    text-align: center;



    .spiners {
        border: 2px solid red;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20rem;
    }
}