@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.cartitaP {
  font-family: 'Poppins', sans-serif;
  border: 2px solid #b89600;
  width: 15rem;
  flex-direction: row;
  margin: 1rem;
  border-radius: 5px;
  background-color: #dddddd;
  padding: 0.5rem;

  img {
    width: 4m;
  }

  .catitaP-hijo {
    Button {
      border: 2px solid #464400;
      margin: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .cartitaP {
    border: 2px solid white;
    width: 10.5rem;
    border-radius: 5px;
    background-color: white;

    Button {
      background-color: #960000;
      color: white;
    }
  }
}
