@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.navbar {
  font-family: "Poppins", sans-serif;
  border: 2px solid #000000;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ddb;

  .imgLogo {
    width: 4rem;
    margin-top: 1.5rem;

    img {
      width: 100%;
    }
  }

  .caja__pedidos {
    display: flex;
    text-align: center;

    .caja__pedidos__links {
      margin: 0.5rem;
      max-width: 7rem;
    }

    .imgLinks {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    .navbar__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  .caja__pedidos {
    align-items: center;
    margin: 3rem;
    border: 2px solid red;
    max-width: 40rem;

    .caja__pedidos__links {
      border: 2px solid black;
    }

    .hamburguesas {
      border: 2px solid red;
      width: 5rem;
    }

    .imgLinks {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .imgLogo {
    width: 6.5rem;
    margin-top: 1.5rem;
    display: flex;

    img {
      width: 100%;
    }
  }
}
