.navbar {
  border: 2px solid #000000;
  justify-content: space-between;
  padding: 2rem;
  background-color: #ddb;

  .imgLogo {
    width: 4rem;
    margin-top: 1.5rem;

    img {
      width: 100%;
    }
  }

  .caja__pedidos {
    display: flex;
    text-align: center;

    .caja__pedidos__links {
      margin: 0.5rem;
      max-width: 7rem;
    }

    .imgLinks {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      background-color: red;
    }
  }
}
